{# qs_challenge/templates/site-information.html.twig #}

<ul>
  <li><span style="font-weight: bold">Site name: </span>{{ site_name }}</li>
  <li><span style="font-weight: bold">Default site timezone: </span>{{ default_time_zone }}</li>
  <li><span style="font-weight: bold">Number of site accounts: </span>{{ number_of_accounts }}</li>
</ul>


